/* TSOS.css */

body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#00ffff;
  cursor: default;
  float: left;
  overflow: auto;
}

.normal_button {
  width: 100px;
}



#consoleContent {
  overflow: auto; /* SHould FIx the scrolling  */
  flex: 1; /* Expands I think */
}



#memorytable th, #memorytable td {
  border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#memorytable th {
  background-color: #e0e0e0;
  font-weight: bold;
}

#memorytable tr {
  background-color: #444;
}

#memorytable td {
  color: #0f0; 
}


#memorytable tr:hover {
  background-color: #555; 
}

#pcbtable {
  width: 20%;  
  border-collapse: collapse;  
  height: 100px

}

#pcbtable th, #pcbtable td {
  border: 1px solid black;  
  padding: 8px;
  text-align: left;
  color: black;  
}

#pcbtable tr:hover {
  background-color: #ff0606;  /* Green Hover Color */
}

#pcbtable th {
  background-color: #f2f2f2;  
}


#taHostLog {
  resize: none;  /* disables the resize handle */
   
}


#UserProgramInput {
  resize: none;
}

#divCPUTable {
  font-family: Arial, sans-serif;
}

#cputable {
  border-collapse: collapse;
  width: 100%;
  background-color: #f4f4f4;
}

#cputable th, #cputable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#cputable th {
  background-color: #e0e0e0;
  font-weight: bold;
}

#cputablebody tr {
  background-color: #444;
}

#cputablebody td {
  font-family: 'Courier New', Courier, monospace; 
  color: #0f0; 
  font-weight: bold;
  font-size: 16px;
}

#cputablebody td:hover {
  background-color: #555; 
}

